<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.sms.entity.Parameter" >
    <id column="par_id" property="parId" jdbcType="INTEGER" />
    <result column="param_cd" property="paramCd" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="sts_cd" property="stsCd" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    par_id, param_cd, param_value, description, created_by, creation_date, last_update_by, 
    last_update_date, bz, sts_cd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from par_parameter
    where par_id = #{parId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from par_parameter
    where par_id = #{parId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sms.entity.Parameter" >
    insert into par_parameter (par_id, param_cd, param_value, 
      description, created_by, creation_date, 
      last_update_by, last_update_date, bz, 
      sts_cd)
    values (#{parId,jdbcType=INTEGER}, #{paramCd,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, 
      #{stsCd,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sms.entity.Parameter" >
    insert into par_parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        par_id,
      </if>
      <if test="paramCd != null" >
        param_cd,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="stsCd != null" >
        sts_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        #{parId,jdbcType=INTEGER},
      </if>
      <if test="paramCd != null" >
        #{paramCd,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        #{stsCd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sms.entity.Parameter" >
    update par_parameter
    <set >
      <if test="paramCd != null" >
        param_cd = #{paramCd,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        sts_cd = #{stsCd,jdbcType=INTEGER},
      </if>
    </set>
    where par_id = #{parId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sms.entity.Parameter" >
    update par_parameter
    set param_cd = #{paramCd,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      sts_cd = #{stsCd,jdbcType=INTEGER}
    where par_id = #{parId,jdbcType=INTEGER}
  </update>
</mapper>