<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SysMenuMapper">
	<resultMap id="sysMenuMapper" type="sysMenu">
		<id column="MENU_ID" property="menuId" jdbcType="INTEGER" />
		<result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
		<result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
		<result column="MENU_ORDER" property="menuOrder" jdbcType="VARCHAR" />
		<result column="MENU_ICON" property="menuIcon" jdbcType="VARCHAR" />
		<result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
		<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
		<result column="CREATION_DATE" property="creationDate"
			jdbcType="TIMESTAMP" />
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"
			jdbcType="VARCHAR" />
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"
			jdbcType="TIMESTAMP" />
		<result column="CALL_CNT" property="callCnt" jdbcType="INTEGER" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="STS_CD" property="stsCd" jdbcType="CHAR" />
		
		<collection property="subMenu" column="menu_id" select="findSubMenu"></collection>
	</resultMap>
	<sql id="Base_Column_List">
		MENU_ID, MENU_NAME, MENU_URL, PARENT_ID, MENU_ORDER, MENU_ICON, MENU_TYPE,
		CREATED_BY,
		CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD
	</sql>
	<select id="selectByPrimaryKey" resultMap="sysMenuMapper"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where MENU_ID = #{menuId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_menu
		where MENU_ID = #{menuId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sms.entity.SysMenu">
		insert into sys_menu (MENU_ID, MENU_NAME, MENU_URL,
		PARENT_ID, MENU_ORDER, MENU_ICON,
		MENU_TYPE, CREATED_BY, CREATION_DATE,
		LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT,
		REMARK, STS_CD)
		values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR},
		#{menuUrl,jdbcType=VARCHAR},
		#{parentId,jdbcType=INTEGER}, #{menuOrder,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR},
		#{menuType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
		#{creationDate,jdbcType=TIMESTAMP},
		#{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{callCnt,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sms.entity.SysMenu">
		insert into sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				MENU_ID,
			</if>
			<if test="menuName != null">
				MENU_NAME,
			</if>
			<if test="menuUrl != null">
				MENU_URL,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="menuOrder != null">
				MENU_ORDER,
			</if>
			<if test="menuIcon != null">
				MENU_ICON,
			</if>
			<if test="menuType != null">
				MENU_TYPE,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="creationDate != null">
				CREATION_DATE,
			</if>
			<if test="lastUpdateBy != null">
				LAST_UPDATE_BY,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
			<if test="callCnt != null">
				CALL_CNT,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="stsCd != null">
				STS_CD,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				#{menuId,jdbcType=INTEGER},
			</if>
			<if test="menuName != null">
				#{menuName,jdbcType=VARCHAR},
			</if>
			<if test="menuUrl != null">
				#{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="menuOrder != null">
				#{menuOrder,jdbcType=VARCHAR},
			</if>
			<if test="menuIcon != null">
				#{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test="menuType != null">
				#{menuType,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				#{lastUpdateBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="callCnt != null">
				#{callCnt,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="stsCd != null">
				#{stsCd,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sms.entity.SysMenu">
		update sys_menu
		<set>
			<if test="menuName != null">
				MENU_NAME = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="menuUrl != null">
				MENU_URL = #{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="menuOrder != null">
				MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
			</if>
			<if test="menuIcon != null">
				MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test="menuType != null">
				MENU_TYPE = #{menuType,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="callCnt != null">
				CALL_CNT = #{callCnt,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="stsCd != null">
				STS_CD = #{stsCd,jdbcType=CHAR},
			</if>
		</set>
		where MENU_ID = #{menuId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sms.entity.SysMenu">
		update sys_menu
		set MENU_NAME = #{menuName,jdbcType=VARCHAR},
		MENU_URL = #{menuUrl,jdbcType=VARCHAR},
		PARENT_ID = #{parentId,jdbcType=INTEGER},
		MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
		MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
		MENU_TYPE = #{menuType,jdbcType=VARCHAR},
		CREATED_BY = #{createdBy,jdbcType=VARCHAR},
		CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
		LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
		LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
		CALL_CNT = #{callCnt,jdbcType=INTEGER},
		REMARK = #{remark,jdbcType=VARCHAR},
		STS_CD = #{stsCd,jdbcType=CHAR}
		where MENU_ID = #{menuId,jdbcType=INTEGER}
	</update>

	<!-- 根据角色id查询权限 -->
	<select id="findtMenuById" resultMap="sysMenuMapper">
		select * from sys_menu where menu_id in
		<foreach collection="list" open="(" close=")" separator=","
			item="menuId" index="index">
			#{menuId}
		</foreach> and sts_cd = 'A'
	</select>
	<!-- 查询子菜单 -->
	<select id="findSubMenu" resultMap="sysMenuMapper">
		select * from sys_menu where parent_id = #{menuId} and sts_cd = 'A'
	</select>
	<!-- 查询顶级权限 -->
	<select id="listMenuByParentId" resultMap="sysMenuMapper">
		select * from sys_menu where parent_id = #{menuId} and sts_cd = 'A' 
	</select>
	<!-- 根据menuId查询权限 -->
	<select id="findtMenuByMenuId" resultMap="sysMenuMapper">
		select * from sys_menu where menu_id = #{menuId} and sts_cd = 'A'
	</select>
	<!-- 修改菜单 -->
	<update id="editMenuById" parameterType="sysMenu">
		update sys_menu set 
			menu_name =#{menuName},
			menu_url  =#{menuUrl} ,
			parent_id =#{parentId},
			menu_order=#{menuOrder},
			menu_type =#{menuType},
			last_update_by = #{lastUpdateBy},
			last_update_date = #{lastUpdateDate},
			remark = #{remark}
		where 
			menu_id=#{menuId}
	</update>
	<!-- 删除菜单 -->
	<delete id="deleteMenuById" parameterType="sysMenu">
		update sys_menu 
			set sts_cd = 'D',
			last_update_by = #{lastUpdateBy},
			last_update_date = #{lastUpdateDate},
			remark = #{remark}
		where menu_id=#{menuId} 
		or parent_id=#{menuId}
	</delete>
	<!-- 查询最大菜单id -->
	<select id="findMaxMenuId" resultType="Integer">
		select max(menu_id) mid from sys_menu
	</select>
	<!-- 新增菜单 -->
	<insert id="addMenu" parameterType="sysMenu" keyProperty="menu_id">
		insert into sys_menu (
			menu_id,
			menu_name,
			menu_url,
			parent_id,
			menu_order,
			menu_type,
			created_by,
			creation_date,
			last_update_by,
			remark,
			sts_cd
		) values (
			#{menuId},
			#{menuName},
			#{menuUrl},
			#{parentId},
			#{menuOrder},
			#{menuType},
			#{createdBy},
			#{creationDate},
			#{lastUpdateBy},
			#{remark},
			#{stsCd}		
		)
	</insert>
	
		<!-- 修改菜单图标 -->
	<update id="editMenuIconById" parameterType="sysMenu">
		update sys_menu set 
			menu_icon=#{menuIcon},
			remark = #{remark},
			last_update_by = #{lastUpdateBy},
			last_update_date = #{lastUpdateDate}
		where menu_id=#{menuId}
	</update>
</mapper>